<!doctype html>
<html>
<head>
	<title>Guestbook</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:20px;
			background-color: #a4c2f2;
		}
	</style>
</head>
<body>
<div class="container">
	<h1>You made it to the secret guestbook!</h1>
</div>
</body>
</html>
